@font-face {
    font-family: 'Mark';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Mark-Regular.ttf") format("truetype");
}

.body {
    font-family: 'Mark';
    font-style: normal;
    font-weight: normal;
    background-color: #08162B;
    color: white;
}

.header {
    padding: 51px 70px 30px 70px;
}

.header-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo_name {
    margin-left: 10px;
}

.header-task {
    font-family: "Mark";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 91px;
}

.burger-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 152px;
    z-index: 1000;
}

.burger-btn {
    height: 48px;
    width: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burger-menu {
    border-radius: 5px;
    width: 44px;
    height: 6px;
    background: white;
}

.burger-menu::before,
.burger-menu::after {
    content: '';
    position: absolute;
    border-radius: 5px;
    width: 44px;
    height: 6px;
    background: white;
    transition: 0.5s;
}

.burger-menu::before {
    transform: translateY(-15px);
}

.burger-menu::after {
    transform: translateY(15px);
}


/* Animation */
.burger-open .burger-menu {
    background: transparent;
}

.burger-open .burger-menu::before {
    transform: rotate(45deg);
}

.burger-open .burger-menu::after {
    transform: rotate(-45deg);
}

.burger-list {
    z-index: 800;
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: black;
    transition: 1s;
}

.burger-open .burger-list {
    right: 0px;
}

.burger-list__chooser {
    font-size: 40px;
    line-height: 51px;
    padding: 68px 0px 19px 36px;
}

.burger-list__level {
    font-size: 30px;
    line-height: 45px;
    padding-left: 77px;
    /* margin-bottom: 18px; */
    display: block;
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    width: 100%;
}   

.burger-list__level:hover {
    background-color: rgb(45, 46, 49);
}

.burger-list__level_solved {
    color: #00FF47;
}

.burger-list__level_solved-with-help {
    color: #FFB801;
}

.burger-list__level-current_task {
    background-color: rgb(29, 31, 61);
    width: 100%;
}

.burger-list__level-current_task:hover {
    background-color: rgb(26, 29, 77);
}

.resetButton {
    font-size: 30px;
    line-height: 38px;
    padding-left: 60px;
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    width: 100%;
    margin-top: 20px;
}

.resetButton:hover {
    background-color: rgb(148, 48, 148);
}

.css-game-info {
    display: flex;
    max-width: 1302px;
    width: 68%;
    margin: 0 auto;
    justify-content: space-between;
}

.css_game-cards {
    width: 47%;
    margin-bottom: 41px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    align-items: flex-end;
    justify-content: flex-end;
}

.css_game-task_description {
    width: 47%;
}

.css_game-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1302px;
    width: 68%;
}
.css_game-left_part {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.imgContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.img-card {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    max-width: 134px;
}

.img-card:hover {
    background: beige;
    border-radius: 10%;
}

.imgUnderline {
    width: 100%;
    height: 1px;
    background: white;
    margin: 0;
    margin-top: 10px;
}

.css_game-css_editor_name {
    height: 70px;
    border-radius: 41px 41px 0 0;
    background-color: #2B3544;
    text-align: center;
    line-height: 70px;
    font-weight: 800;
    font-size: 30px;
    user-select: none;
    position: relative;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.css_game-hint {
    position: absolute;
    right: 35px;
    cursor: pointer;
}

.css_game-css_editor_block {
    border-radius: 0 0 41px 41px;
    background-color: #f0f0f0;
    color: #444;
    height: 450px;
    width: 100%;
    border: none;
    padding: 0;
    font-size: 20px;
}


.css_game-textarea {
    border: none;
    padding: 8px;
    padding-top: 15px;
    
}

.css_editor__default-text {
    padding-left: 9px;
}

.css_editor__default-text-text {
    display: block;
    padding-left: 30px;
}

.css_game-right_part {
    width: 47%;
    display: flex;
    flex-direction: column;
}
.css_game-task_description {
    margin-bottom: 41px;
    height: 170px;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css_game-html_editor_name {
    height: 70px;
    border-radius: 41px 41px 0 0;
    background-color: #2B3544;
    text-align: center;
    line-height: 70px;
    font-weight: 800;
    font-size: 30px;
    user-select: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.css_game-html_editor_block {
    border-radius: 0 0 41px 41px;
    background-color: #282a36;
    height: 450px;
    width: 100%;
    border: none;
    padding: 0;
}

.footer {
    padding: 27px;
    padding-top: 46px;
    margin: 0 auto;
    max-width: 1500px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer__year {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    width: 129px;
    text-align: right;
    line-height: 49px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.burger-open .overlay {
    cursor: pointer;
    display: block;
}

.wrongSelector {
    animation: wrongAnswer 1s linear;
}

@keyframes wrongAnswer {
    10% {
        transform: translateX(10px) scaleX(0.98);
    }
    30% {
        transform: translateX(-10px) scaleX(0.98);
    }
    50% {
        transform: translateX(10px) scaleX(0.98);
    }
    70% {
        transform: translateX(-10px) scaleX(0.98);
    }
    90% {
        transform: translateX(10px) scaleX(0.98);
    }
}

.target {
    animation: target 1000ms ease infinite;
}

@keyframes target {
    0% {
        transform: scale(1.1, 0.9);
    }
    
    20% {
        transform: scale(0.85, 1.15);
    }

    70% {
        transform: translateY(-0.5vmin);
    }

    100% {
        transform: scale(1.1, 0.9);
    }
}

.border {
    animation: border 1000ms ease;
}

@keyframes border {
    0% {
        background-color: seagreen;
        border-radius: 10%;
    }

    100% {
        background-color: transparent;
        border-radius: 10%;
    }
}

.card-completed {
    animation: spin 1s linear;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
        width: 0;
        height: 0;
    }
}

.imageSelectedViaHTML {
    background: beige;
    border-radius: 10%;
}

.html > span {
    line-height: 25px;
}

.highlightTag .hljs-string,
.highlightTag .hljs-name,
.highlightTag {
    color: #214a97 !important;
}

.htmlElemOver {
    display: flex;
    line-height: 25px;
    padding-left: 23px;
}

.htmlElemOver:hover,
.htmlElemOver:hover .hljs-string,
.htmlElemOver:hover .hljs-name {
    color: #214a97;
    cursor: pointer;
};

@media (max-width: 950px) {
    .css_game-task_description {
        font-size: 32px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 51px 20px 30px 20px;
    }

    .header-task_number {
        font-size: 40px;
    }

    .burger-list {
        width: 400px;
    }

    .header-logo_name {
        display: none;
    }

    .burger-wrapper {
        width: 56px;
    }

    .css-game-info {
        width: 90%;
    }

    .css_game-task_description {
        font-size: 32px;
    }
    
    .img-card {
        width: 40%;
    }

    .css_game-content {
        width: 90%;
    }

    .css_game-css_editor_name {
        font-size: 20px;
    }

    .css_game-html_editor_name {
        font-size: 20px;
    }

    .css_game-task_description {
        font-size: 30px;
    }
}